2captcha-python==1.2.0
absl-py==2.1.0
aiofiles==23.2.1
aiohttp==3.9.5
aiohttp-proxy==0.1.2
aiosignal==1.3.1
annotated-types==0.5.0
anticaptchaofficial==1.0.52
anyio==4.1.0
appdirs==1.4.4
APScheduler==3.10.1
astor==0.8.1
astroid==2.15.6
asttokens==2.4.0
astunparse==1.6.3
attrdict==2.0.1
attrs==23.2.0
autobahn==23.6.2
autoit-ripper==1.1.0
Automat==22.10.0
Babel==2.15.0
ballyregan==1.0.6
bce-python-sdk==0.9.14
beautifulsoup4==4.12.3
behave==1.2.6
blinker==1.6.2
blis==0.7.10
Brotli==1.1.0
bs4==0.0.1
cachetools==5.3.0
cairocffi==1.7.0
CairoSVG==2.7.1
catalogue==2.0.9
certifi==2024.2.2
cffi==1.16.0
cfscrape==2.1.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.3
clipman==3.2.3
cloudscraper==1.2.71
colorama==0.4.6
commonmark==0.9.1
confection==0.1.3
constantly==23.10.4
contourpy==1.0.7
cryptography==42.0.8
cssselect==1.2.0
cssselect2==0.7.0
cssutils==2.11.1
curl_cffi==0.7.0
cycler==0.11.0
cymem==2.0.7
Cython==3.0.10
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
dill==0.3.6
discord.py==2.3.2
distro==1.8.0
docstring-inheritance==2.2.0
doctr==1.9.0
easyocr==1.7.1
editdistance==0.8.1
efficientnet==1.0.0
en-core-web-lg==3.6.0
en-core-web-sm==3.6.0
en-core-web-trf==3.6.1
essential-generators==1.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
execnet==2.1.1
executing==1.2.0
Faker==15.3.4
fasteners==0.19
filelock==3.13.4
fire==0.6.0
Flask==3.0.3
flask-babel==4.0.0
Flask-HTTPAuth==4.8.0
flatbuffers==24.3.25
fonttools==4.39.4
frozenlist==1.4.1
fsspec==2023.9.0
future==0.18.3
g4f==0.3.2.0
gast==0.5.4
google-ai-generativelanguage==0.6.2
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.18.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==1.0.0
google-generativeai==0.5.1
google-pasta==0.2.0
googleapis-common-protos==1.59.0
GoogleBard1==2.1.4
gradio_client==1.0.1
graphviz==0.20.1
greenlet==2.0.2
grpcio==1.62.1
grpcio-status==1.62.1
grpcio-tools==1.53.0
gunicorn==22.0.0
h11==0.14.0
h2==4.1.0
h5py==3.11.0
halo==0.0.31
Helpingai-T2==0.5
hpack==4.0.0
html5lib==1.1
httpcore==1.0.2
httplib2==0.22.0
httpx==0.25.2
huggingface-hub==0.23.3
Hypercorn==0.16.0
hyperframe==6.0.1
hyperlink==21.0.0
icecream==2.1.3
idna==3.7
imageio==2.34.1
imgaug==0.4.0
importlib-metadata==6.8.0
incremental==22.10.0
iniconfig==2.0.0
install==1.3.5
intel-openmp==2021.4.0
isort==5.12.0
itsdangerous==2.1.2
jellyfish==1.0.0
Jinja2==3.1.2
joblib==1.2.0
Js2Py==0.74
Keras-Applications==1.0.8
kiwisolver==1.4.4
langcodes==3.3.0
langdetect==1.0.9
lazy_loader==0.4
lazy-object-proxy==1.9.0
libclang==18.1.1
lmdb==1.4.1
log-symbols==0.0.14
loguru==0.6.0
lxml==4.9.2
Markdown==3.6
markdown-it-py==3.0.0
markdownify==0.12.1
MarkupSafe==2.1.3
matplotlib==3.9.0
mccabe==0.7.0
mdurl==0.1.2
mercury-parserpy==0.7.0
mkl==2021.4.0
ml-dtypes==0.3.2
more-itertools==10.3.0
mplcursors==0.5.3
mpmath==1.3.0
mss==9.0.1
multidict==6.0.5
murmurhash==1.0.9
namex==0.0.8
nest-asyncio==1.6.0
netifaces==0.11.0
networkx==3.1
ninja==1.11.1.1
nodriver==0.31
numpy==1.24.3
oauthlib==3.2.2
onnx==1.16.1
openai==1.3.8
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opencv-python-headless==4.10.0.84
openpyxl==3.1.4
opt-einsum==3.3.0
optree==0.11.0
orjson==3.10.5
outcome==1.3.0.post0
packaging==24.0
paddleocr==2.7.3
paddlepaddle==2.6.1
pandas==1.5.3
param==1.13.0
parameterized==0.9.0
parse==1.20.1
parse-type==0.6.2
pathy==0.10.2
pdbp==1.5.0
pdf2docx==0.5.8
pefile==2019.4.18
pexpect==4.8.0
pillow==10.3.0
pip==24.0
platformdirs==4.2.0
playsound==1.3.0
playwright==1.37.0
pluggy==1.4.0
poe-api-wrapper==1.3.6
polyfuzz==0.4.0
premailer==3.10.0
preshed==3.0.8
prettytable==3.10.0
priority==2.0.0
prompt_toolkit==3.0.47
proto-plus==1.23.0
protobuf==3.20.2
Proxy-List-Scrapper==0.2.2
psutil==5.9.5
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pyclipper==1.3.0.post5
pycparser==2.21
pycryptodome==3.20.0
pydantic==1.10.17
pydantic_core==2.6.3
pydyf==0.10.0
pyee==9.0.4
Pygments==2.17.2
pyjsparser==2.7.1
pylint==2.17.4
PyMuPDF==1.24.5
PyMuPDFb==1.24.3
pynose==1.5.1
pyocr==0.8.5
pyotp==2.9.0
pyparsing==3.0.9
pypdfium2==4.30.0
pyperclip==1.8.2
pyphen==0.15.0
pyreadline3==3.4.1
pyreqwest_impersonate==0.4.8
PySocks==1.7.1
pytesseract==0.1.6
pytest==8.1.1
pytest-base-url==2.0.0
pytest-html==2.0.1
pytest-metadata==3.1.1
pytest-ordering==0.6
pytest-playwright==0.3.3
pytest-rerunfailures==14.0
pytest-xdist==3.5.0
pytextrank==3.2.5
python-bidi==0.4.2
python-dateutil==2.8.2
python-docx==1.1.2
python-dotenv==1.0.0
python-magic==0.4.27
python-slugify==8.0.1
pytz==2023.3
pyvpn==1.2
PyYAML==6.0.1
Quart==0.19.5
rapidfuzz==3.0.0
rarfile==4.2
regex==2023.5.5
requests==2.31.0
requests-file==2.1.0
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rich==12.6.0
rsa==4.9
safetensors==0.3.3
sbvirtualdisplay==1.3.0
scikit-image==0.24.0
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
segtok==1.5.11
selenium==4.19.0
seleniumbase==4.25.3
setuptools==69.2.0
shapely==2.0.4
shellingham==1.5.4
six==1.16.0
smart-open==6.3.0
smsactivate==1.5
sniffio==1.3.1
socksio==1.0.0
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.6.1
spacy-alignments==0.9.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-transformers==1.2.5
sparse-dot-topn==0.3.4
spinners==0.0.24
srsly==2.4.7
sse-starlette==2.1.2
starlette==0.37.2
StrEnum==0.4.15
style==1.1.0
sympy==1.12
tabcompleter==1.3.0
tabulate==0.9.0
tbb==2021.13.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow-estimator==2.15.0
tensorflow-intel==2.15.1
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
tesseract==0.1.3
text-unidecode==1.3
tf2onnx==1.16.1
thinc==8.1.12
threadpoolctl==3.1.0
tifffile==2024.6.18
tiktoken==0.7.0
tinycss2==1.3.0
tldextract==5.1.2
tls-client==1.0.1
tokenizers==0.13.3
tomlkit==0.11.8
torchvision==0.18.1
tqdm==4.65.0
transformers==4.30.2
trio==0.25.0
trio-websocket==0.11.1
Twisted==24.3.0
twisted-iocpsupport==1.0.4
txaio==23.1.1
typer==0.6.1
typing_extensions==4.11.0
tzdata==2023.3
tzlocal==5.0.1
undetected-chromedriver==3.5.5
undetected-playwright==0.2.0
Unidecode==1.3.8
update==0.0.1
uritemplate==4.1.1
urllib3==1.26.18
uvicorn==0.30.1
validators==0.28.3
visualdl==2.5.3
wasabi==1.1.2
wcwidth==0.2.13
weasyprint==62.3
webdriver-manager==4.0.1
webencodings==0.5.1
webscout==3.8
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.2
wheel==0.43.0
win32-setctime==1.1.0
wrapt==1.14.1
wsproto==1.2.0
yake==0.4.8
yarl==1.9.4
zipp==3.16.2
zope.interface==6.4.post2
zopfli==0.2.3
